<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-4  ">
                    <img src="../../assets/bg-1.jpg">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8   ">
                    <div class="form-info p-5">
                        <div class="row">

                            <div class="col-sm-6 ">
                                <h3 class="mb-4">Sign In</h3>
                            </div>
                            <div class="col-sm-6  social-media d-flex  justify-content-end">
                                <a class="social-icon d-flex align-items-center justify-content-center">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                                <a class="social-icon  d-flex align-items-center justify-content-center">
                                    <i class='bx bxl-twitter'></i>
                                </a>


                            </div>
                            <form>
                                
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput" class="form-label">Username</label>
                                        <input type="email" class="form-control" id="formGroupExampleInput"
                                            placeholder="Username" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="formGroupExampleInput2" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="formGroupExampleInput2"
                                            placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" routerLink="/dashboard" class="btn btn-danger">Sign in</button>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Remember Me
                                            </label>
                                        </div>
    
                                    </div>
                                    <div class=" link1 col-sm-6 d-flex justify-content-end">
                                        <a href="#" style="color:gray ;margin-top: 10px;">Forgot Password</a>
    
                                    </div>
                                </div>
                                <div class=" link2 col-sm-12 text-center" style="margin-top:10px ;">
                                    <p>Not Remeber? <span><a routerLink="/singup" style="color: #e3b04b;"> Sign Up</a></span></p>
                                </div>
                            </form>





                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>