<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
<mat-toolbar class=" fw-bold">
    <mat-toolbar-row class="bg-light">
        <button md-raised-button="md-raised-button" mat-icon-button style="margin-right: 10px;"
            (click)="sidenav.toggle();">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <h5>App</h5>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side" style="width: 230px;">
        <mat-nav-list>
            <a mat-list-item><i class='bx bx-home-alt-2'></i> Home</a>
            <a mat-list-item><i class='bx bx-error-alt'></i> About Us</a>
            <a mat-list-item><i class='bx bx-message-rounded'></i> Contact Us</a>
            <a mat-list-item><i class='bx bx-help-circle'></i> Help</a>
            <a mat-list-item routerLink="/login"><i class='bx bx-log-out-circle'></i> Logout</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-fluid" style="height: 95.5vh;">
            <div class="table">
                <div class="row">
                    <div class="col-12">
                        <label><button data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                class="btn btn-primary">Add</button></label>

                        <mat-form-field appearance="fill">
                            <input matInput placeholder="search" (keyup)="applyFilter($any($event.target).value)">

                        </mat-form-field>

                    </div>
                </div>


                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                    style="width: 100%; text-align: center;">

                    <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="position" style="text-align: center;">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Weight </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Symbol </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" class="d-flex justify-content-center"
                    showFirstLastButtons #paginator aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>




        </div>


    </mat-sidenav-content>

</mat-sidenav-container>